.head-text {
    position: relative;
    width: max-content;
 }
 .text-on-image {
    position: absolute;
    right: 20px;
    left: 89px;
    width: max-content;
    bottom: 11%;
 }
 .dp{
   position: absolute;
    /* right: 1px; */
    left: 74px;
    top: 80px;
    width: 59px;
 }
 .head-image{
   width: max-content;
 }
 .field{
    height: 17px;
    font-size: x-small;
    text-wrap: pretty;
    max-width: 86px;
  
 }
 .printPage{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* background-color: rgb(9, 251, 61); */
   width:1170px;
   height:1650px;
   /* width: 842px;
   height: 1191px; */
   justify-content: center;
   align-content: center;
 }
 .idname{
   position: absolute;
   height: 17px;
   font-size: x-small;
   text-wrap: pretty;
   top: 49%;
   /* left: 26%; */
   background: #702C2B;
   color: aqua;
   padding-inline: 5px;
   text-transform: uppercase;
   border-radius: 5px;
   width: 100%;
   text-align: center;
 }