.navbar {
  background-color:#2c6fb1;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  display: inline-block;
  padding: 20px!important;

  left: auto;
  z-index: -1;
 
}


hr{
  border-color: #fff;
  margin: 0;
}

.menu-bars {
  z-index: 1;
  backdrop-filter: blur(5px);
  margin-left: 0rem;
  font-size: 2rem;
  padding: 0 15px;
  background: #ffffff75;
  position: sticky;
  top: 0;
  width: -webkit-fill-available;
  box-shadow: 0px 1px 7px 0px #0000007d;

}
.hamburger-react div{
  background-color:  #243A6C!important;
}
.sidebar-item.plain:active{
  background-color: #000;
}

.nav-menu {
  background-color: #000;
  width: 79px;
  height: auto;
  display: flex;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  left: 0%;
  transition: 300ms;
}

.nav-menu.active {
  left: 0;
  width: 250px;
  transition: 350ms;
 min-height: calc(130vh - 70px);
 height: 100%;
 min-height: 100%;
 max-height: 100%;
}

.kNUuTe {
  
  font-size: 19px!important;
  font-weight: bold!important;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px 0px 2px 0px;
    list-style: none;
    height: 11px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  font-weight: bold;
}
.nav-textWithSubmenu a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100%;
  margin-right: 12px;
  height: 100%;
  display: flex;
  align-items: baseline;
  padding: 0 16px;
  border-radius: 4px;
  flex-direction: row;

}
.nav-text a:hover {
  background-color: #000;
}
nav-text a:active {
  background-color: #000;
}
.nav-textWithSubmenu a:hover {
  background-color: #fffafa;
}
.nav-menu-items {
  width: 100%;
  min-height: calc(109vh - 70px);
}

.navbar-toggle {
  background-color: #243A6C;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.fulllogo{
  width: 58%;
  height: 100%;
  margin: 0 auto;
  /* padding: 5px; */
  /* background-color: #243A6C; */
}
.imagesize{ 
  width: 34px;
}
.opentitle{
   margin-left: 16px;
   font-size: 13px;
   margin-top: 7px;
}
span {
  /* margin-left: 16px; */
    font-size: 13px;
    margin-top: 7px;
}
.submenu{
  height: auto;
}
.headonly{
  height: 100%;
}
.menuhidden{
  display: inline-block;
}



.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.sidebar {
  width: 237px;
  flex-shrink: 0;
  background: rgb(0,0,0);
background: linear-gradient(347deg, rgba(0,0,0,1) 0%, rgb(19, 27, 43) 17%, rgba(36,58,108,1) 88%);
  /* height: 100%; */
  overflow: auto;
  min-height: 100vh;
}


.sidebar-item{
  /* padding: .5em 1em; */
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  
}
.sidebar-item:hover{
  /* background-color: rgba(255, 255, 255, .1); */
}
.sidebar-item .mintitle{
  /* border: 1px solid red; */
  margin-top: 6px;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 13px;
}

.mynotification{
  margin-top: 6px;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
.sidebar.smallsidebar div.sidebar-item.open .sidebaropencont {
  padding: 0 0px;
}
.sidebar.smallsidebar div.sidebar-item.open .sidebaropencont svg {
  width: 14px;
  position: relative;
  left: 4px;
}
.sidebar-item.open .sidebaropencont {
  /* border: 1px solid red; */
  margin-left: 0;
  padding: 0 27px;
  background: #268ac5;
}

.sidebar.smallsidebar div.sidebar-item.open .sidebaropencont a:hover {
  background:#268ac5;
  margin: 5px 0;
}


.minnavtext{
  margin-top: 6px;
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

.sidebar-item.open .sidebaropencont a svg {
  width:15px ;
}
.sidebar-item.open .sidebaropencont a {
  /* background: #2c4b5f; */
  margin: 5px 0;
  height: 36px;
  padding: 3px 25px 1px 25px;
}
.sidebar-item.open .sidebaropencont a:hover {
  background: #268ac5;
  margin: 5px 0;
}
.sidebar-item.open .sidebaropencont span.opentitle{
  /* border: 1px solid red; */
  margin-top: 6px;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 13px;

}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform .3s;
  /* border: 1px solid red; */
  position: relative;
  left: -8px;
  top: 10px;
  height: 20px;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(90deg);
  position: relative;
  top: 15px;
  height: 20px;
  /* border: 1px solid red; */
  margin: 0;
}


.sidebar.smallsidebar div .toggle-btn{
  cursor: pointer;
    transition: transform .3s;
    /* border: 1px solid red; */
    position: relative;
    left: -19px;
    top: 11px;
    height: 20px;
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}
.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  padding: 6px 23px;
  font-size: 19px;
  margin-top: 5px;
}

.hinnttext{
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  left: 20px;
}
.sidebar-item:active{
  background-color: #000; 
}
.sidebar-item:hover{
  transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: 300ms;
  
  background-color: #000; 

}
.sidebar-item.plain:hover{
  /* text-decoration: underline; */
  /* background-color: #268ac5; */
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}
.smallsidebar{
  width:80px;
  transition: 300ms;
}



@media only screen and (max-width: 600px) {
  .menu-bars {
    padding: 0 !important;
  }
  .smallsidebar {
    width:0px;
  }
  .nav-menu {
  width: 0px;
  }
  
.hinnttext{
  position: absolute;
  left: 1px;
  top: 45px;
}
}